$brand-primary: goldenrod;
$brand-secondary: #b2e1ed;

$background: darkslategrey;
$background-highlight: #f3f9d2;

$hd-color: #363537;
$copy-color: #363537;
$copy-highlight: #b2e1ed;

// FONTS
$hd-font: 'Staatliches', cursive;
$copy-font: 'Lato', sans-serif;
$decorative-font: 'Lato', sans-serif;

$xs-copy: 10px;
$sm-copy: 13px;
$md-copy: 16px;
$lg-copy: 18px;
$xl-copy: 20px;

$xs-hd: 20px;
$sm-hd: 24px;
$md-hd: 34px;
$lg-hd: 48px;
$xl-hd: 60px;
$xxl-hd: 96px;