.products {
  text-align: center;
  h1 {
    margin: 0 0 20px 0;
  }
  .product {
    width: 30%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: rgba($background-highlight, 0.8);
    .img {
      width: 40%;
      padding: 5px;
      img {
        width: 150px;
        max-width: 100%;
      }
    }
    .content {
      width: 60%;
      padding: 5px;
      p {
        display: block;
      }
      .edit {
        margin: 20px 0;
      }
    }
  }
}
.edit {
  form {
    background: rgba($background-highlight, 0.8);
    padding: 20px;
    .edits {
      display: flex;
      justify-content: center;
      align-items: top;
      .img {
        width: 40%;
        padding: 5px;
        img {
          width: 150px;
          max-width: 100%;
        }
      }
      .content {
        width: 60%;
        padding: 5px;
      }
    }
    textarea {
      width: 100%;
      height: 50px;
    }
    textarea.long {
      height: 300px;
    }
  }
}
.review {
  h1 {
    margin: 20px 0;
  }
  .reviews {
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: top;
    background: rgba($background-highlight, 0.8);
  }
  .reviews.center {
    align-items: center;
    border-bottom: 0.5px solid $cta;
    border-left: 0.5px solid $cta;
    .col {
      input {
        width: 400px;
      }
      a, button {
        color: lighten($cta, 20%);
        transition: all 1s;
        padding: 10px 20px;
        background: lighten($background-highlight, 20%);
        border: 0.5px solid lighten($background-highlight, 20%);
        display: block;
        &:hover {
          color: $brand-primary;
          border: 0.5px solid $cta;
        }
      }
      img {
        max-width: 150px;
      }
    }
    .col.center {
      text-align: center;
      input {
        width: 400px;
      }
    }
  }
  .col {
    min-width: 30%;
    margin: 20px 10px;
    i {
      font-size: $lg-hd;
    }
  }
}
.invoices {
  .invoiceProducts {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .invoice {
    width: 30%;
    margin: 20px;
    padding: 10px;
    background: rgba($background-highlight, 0.8);
  }
}