// COLORS////////////////////////////////
$brand-primary: #541424;
$brand-secondary: #fcf6b1;
$brand-extra: #b28a8a;
$brand-anchor: #100c08;
$cta-primary : #055f23;
$cta-secondary: #fa5b3d;

$background: #d2ac97;
$background-highlight: #faf0e6;

$hd-color: #222;
$copy-color: #847f7c;
$copy-highlight: lighten(#222, 30%);

// FONTS
$font: 'Open Sans', sans-serif;
$hd-font: 700;
$copy-font: 400;
$decorative-font: 'Playfair Display', serif;

$xs-copy: 10px;
$sm-copy: 13px;
$md-copy: 16px;
$lg-copy: 18px;
$xl-copy: 20px;

$xs-hd: 20px;
$sm-hd: 24px;
$md-hd: 34px;
$lg-hd: 48px;
$xl-hd: 60px;
$xxl-hd: 96px;