$brand-primary: #00171f;
$brand-secondary: #A3C940;
$brand-extra: #eee82c;
$brand-highlight: #9cf5cc;
$cta: #001627;

$background: #fffaf0;
$background-highlight: darken($background, 3%);

$hd-color: $brand-primary;
$copy-color: lighten($brand-primary, 10%);
$copy-highlight: #fd3a4a;

// FONTS$
$hd-font: 'PT Sans', sans-serif;
$copy-font: 'PT Serif', serif;
$decorative-font: 'PT Sans', sans-serif;

$xs-copy: 10px;
$sm-copy: 13px;
$md-copy: 16px;
$lg-copy: 18px;
$xl-copy: 20px;

$xs-hd: 20px;
$sm-hd: 24px;
$md-hd: 34px;
$lg-hd: 42px;
$xl-hd: 60px;
$xxl-hd: 96px;