$brand-primary: #ffe851;
$brand-secondary: #b2e1ed;

$background: #ffbfb7;
$background-highlight: linen;

$hd-color: #363537;
$copy-color: #363537;
$copy-highlight: #363537;

// FONTS
$hd-font: 'Muli', sans-serif;
$copy-font: 'Muli', sans-serif;
$decorative-font: 'Muli', sans-serif;

$xs-copy: 10px;
$sm-copy: 13px;
$md-copy: 16px;
$lg-copy: 18px;
$xl-copy: 20px;

$xs-hd: 20px;
$sm-hd: calc(8px + 1vw);
$md-hd: calc(10px + 1vw);
$lg-hd: calc(12px + 1vw);
$xl-hd: 60px;
$xxl-hd: 96px;