$brand-primary: #fd3a4a;
$brand-secondary: #161f36;
$brand-extra: #faaf3b;
$cta: #009966;

$background: #f2f0e6;
$background-highlight: darken(#faebd7, 5%);

$hd-color: #100c08;
$copy-color: lighten(#100c08, 10%);
$copy-highlight: #fd3a4a;

// FONTS$
$hd-font: 'Lora', serif;
$copy-font: 'Lato', sans-serif;
$decorative-font: 'Lato', sans-serif;

$xs-copy: 10px;
$sm-copy: 13px;
$md-copy: 16px;
$lg-copy: 18px;
$xl-copy: 20px;

$xs-hd: 20px;
$sm-hd: 24px;
$md-hd: 34px;
$lg-hd: 48px;
$xl-hd: 60px;
$xxl-hd: 96px;